body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 0px;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

h1{
    font-size: 35px;
}

.grid-container{
    display: grid;
    border: 2px black solid;
    width: 500px;
    height: 500px;
}

footer{
    position: absolute;
    bottom: 0;
    padding: 10px;
}
